body{
   background: url("image/Joker.jpeg");
   background-size: cover;
   background-position:center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   text-align: center;
   padding: 50px;
   margin: 50px;
   
}

button{
    position: absolute;
    left: 350px;
    padding: 10px 45px;
    margin: 50px;
    border-radius: 4px;
    opacity: 50%;
    color: rgb(180,253,177);
    background-color:rgb(34,34,34);
    
}

.main{
    background-color:rgb(34,34,34);
    color: rgb(180,253,177);
    width: 700px;
    border-radius: 4px;
    opacity: 50%;
    padding: 50px;
    margin: 40px;
   
}
